@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --size-extra-large: 5rem;
    --size-large: 3rem;
    --size-large-medium: 2.5rem;
    --size-medium: 2rem;
    --size-regular: 1.5rem;
    --size-small: 1.3rem;
    --size-extra-small: 1rem;

    --site-width: 128rem;
    --layout-gap: 3rem;
    --layout: 240px 2fr 1fr;
    --layout-padding: 1rem;
    --mx-padding: 0 1rem;
    --font-family:'Poppins', sans-serif;
    --profile-pic-size: 4rem;
    --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background: #171C29;
}

h1, h2, h3, h4, h5, h6, span, p {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 425px){

    :root{
        --size-extra-large: 40px;
        --size-large: 25px;
        --size-large-medium: 20px;
        --size-medium: 15px;
        --size-regular: 12px;
        --size-small: 11px;
        --size-extra-small: 11px;
    }

}
